extends ../layout

block content
	.container
		.row
		
			.panel.panel-default
				.panel-heading
					h3 #{keyword}
				.panel-body
					if movies && movies.length>0
						each movie in movies 
							.col-md-3
								.thumbnail
									a(href ="/movie/#{movie._id}")
										img(src="#{movie.poster}",alt='#{movie.title}')
								.caption
									h3 #{movie.title}
									p: a.btn.btn-primary(href='/movie/#{movie._id}' role='button') 观看预告片
			ul.pagination
				-for(var i=1;i<movies.length+1;i++){
					-if(curpage===i){
						li.active 
							#{i}
					-}else{
						li
							a(href="/results?#{query}&p=#{i}") #{i}
					-}
				-}